<!-- begin post -->
{% assign author = site.authors[post.author] %}
<span>
    <a href="/authors/shreyansh-singh/">Shreyansh Singh</a>
</span>, <span><a href="/authors/kanishka-kayathwal/">Kanishka Kayathwal</a></span>, <span><a href="/authors/hardik-wadhwa/">Hardik Wadhwa</a></span>, <span><a href="/authors/and-gaurav-dhama/">and Gaurav Dhama</a></span>

</span>
(2021).
<a href="/publication/metgan/">MeTGAN: Memory efficient Tabular GAN for high cardinality categorical datasets</a>.ICONIP 2021.
<p>


<!-- end post -->